[Unit]
Description=Servicio del script KVM

[Service]
Type=simple
ExecStart=/usr/bin/python2.7 /lib/systemd/system/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
