<div class="card">
  <div class="card-body text-center">
    <h1>Test para comprobar el balanceo de carga en el cluster de Kubernetes</h1>
    <hr class="my-4">
    <p>Hola mundo desde el Pod: {{name}}</p>
    </div>
</div>
